<header>
  <div class="menu-icon">
    <a href="javascript:ShowContent('main-menu')" id="menu-button"><i class="icon"></i></a>
  </div>
  <div class="logo2">
    <a [routerLink]="['/home']"><img src="//s3.cashify.in/cashify/ng/logo-bottom.png" alt="Cashify" height="25"></a>
  </div>
  <div class="logo-container"><div class="address-box">
    <a href="javascript:void(0)" id="cloes" aria-hidden="true">
      <i class="address-icon fa fa-map-marker"></i>
      <span>Gurgoan</span>
    </a>
  </div>
  </div>
  <app-menu></app-menu>

</header>
