<footer>
  <div class="ft-logo"><img src="/src/res/img/f-logo.png" alt="" height="40"></div>
  <div class="ft-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>

  <div class="dark-gery row">
    <div class="ft-social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="copy-right">&copy; ReGlobe. All Rights Reserved.</div>
    <div class="copy-right marginT10">
      <small>

        Name : Manak Waste Management Private Limited<br>Address : 15,Gautam Appartments,Near Gulmohar Park New Delhi Delhi DL 110049 IN<br>CIN : U27205DL2009PTC190441<br>Telephone No. : 9555657657<br>Email Id : info@cashify.in
        <i>Name of the person who may be contacted in case of any queries or grievances on the landing : Manoj Kumar</i>

      </small>
    </div>

    <div class="copy-right marginT10"><small>** All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.</small></div>
  </div>
  <div class="cashify-app"><span class="fl app-headining"><img src="/src/res/img/logo-bottom.png" alt="" height="25">Cashify - Sell old Electronics<br/><span class="down-app">Download App Now</span> </span><span class="fr"><a href="#"><img src="img/app-download2.png" alt="" height="25"></a></span></div>
</footer>

<div id="ppt" class="footer-aap-des animated slideInUp"><a href="#" onclick="myFunctionClose()"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="app-heading">
    <div class="logo-bottom"><a href="#"><img src="/src/res/img/logo-bottom.png" alt="Cashify" height="25"></a>
    </div>
    <div  class="cashify-heading">
      <p>Cashify - Sell old Electronics</p>
      <p><i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </p>
    </div>

  </div>
  <div class="store-heading">
    <span class="fl marginT5"><a href="#"><img src="/src/res/img/google-play-button.png" alt="Cashify" height="20"></a>Google Play</span>
    <span class="fr instal-bt"><a href="#">Install</a></span>
  </div>
</div>
