<section class="promotion-section addforprice">
  <div class="promo-heading">
    <span class="promo-sm-bg"><i class="prom-bg-ht"><img src="https://s3.cashify.in/brand/55ffb42c154f9-ht_microsoft_cc_120823_wg.jpg"  alt=""></i></span>
    <span class="promo-text">Microsoft Lumia 550</span></div>
  <div class="promo-sub-box">
    <span class="promo-sub-bg"><i><img  src="https://s3.cashify.in/details/56b47154c4013-microsoft-lumia-550-lumia-550-400x400-imaeeqmpdnywb9fz.jpeg" alt="Microsoft Lumia 550"></i></span>
    <span class="promo-sub-text">

                <dl>
                    <dt>Released on <span>Dec 2015</span></dt>
                    <dd><i class="fa fa-check" aria-hidden="true"></i>1 GB RAM</dd>
                    <dd><i class="fa fa-check" aria-hidden="true"></i>4.7" Screen</dd>
                    <dd><i class="fa fa-check" aria-hidden="true"></i>8 GB</dd>
                    <dd><i class="fa fa-check" aria-hidden="true"></i>5 MP</dd>
                    <dd><i class="fa fa-check" aria-hidden="true"></i>Quad-core 1.1.0 GHz Cortex-A7</dd>
                    <dd><span><i class="fa fa-check-circle" aria-hidden="true"></i>200+</span>Sold on Cashify</dd>
                    </dl>

         </span>
  </div>

  <div class="price-details flwidth ">
    <span class="current-price fl"><small>Current MRP</small><p>Rs.19,990</p></span>
    <span class="get-price fl"><small>Get UP TO</small><p>Rs.19,990</p></span>
  </div>

</section>
<div style="height:62px;clear: both;"></div>
<div class="find-prc">
  <a  class="fnd-selling-prc flwidth" href="http://msite.bijendra.rgtest.in/calculator-question.html" rel="nofollow">Find assured selling price <i class="fa fa-angle-right font-24 fr marginR40"></i>
  </a>
</div>


<div class="home-search" id="search-box" style="display: none">
  <div class="inr-search">
    <input type="text" name="fname" placeholder="Search your device to sell "><i></i>
    <div class="hm-search"><a  href="javascript:;" data-toggle="modal" data-target="#search-modal" >
      <span>Search</span></a>
      <a href="javascript:HideContent('search-box')" class="arrowicon">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="search-text-box"></div>
</div>
