@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y9jhpj');
  src:  url('../fonts/icomoon.eot?y9jhpj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y9jhpj') format('truetype'),
    url('../fonts/icomoon.woff?y9jhpj') format('woff');
  font-weight: normal;
  font-style: normal;
}