<header>
  <div class="menu-icon">
    <i class="fa fa-arrow-left" aria-hidden="true" (click)="goBack()">BACK</i>
  </div>
  <div class="logo2">
    <a [routerLink]="['/home']"><img src="http://s3.cashify.in/cashify/ng/logo-white.png" alt="Cashify" height="25"></a>
  </div>
  <div class="logo-container"><div class="address-box">
    <a href="javascript:void(0)" id="cloes" aria-hidden="true">
      <i class="address-icon fa fa-map-marker"></i>
      <span>Gurgoan</span>
    </a>
  </div>
  </div>
</header>
